#whatip-whole-container #nav-bar {
  height: 60px;
  position: relative;
  min-width: 1100px;
  background-color: "#121212";
}

#whatip-whole-container #website-name {
  width: 150px;
  text-align: center;
  font-size: 1.7rem;
  position: relative;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
  font-family: 'Source Code Pro', monospace;
  cursor: pointer;
  color: rgb(187, 134, 252);
}

#whatip-whole-container {
  background-color: #121212;
  height: 100%;
}

#whatip-whole-container #nav-content {
  height: 100%;
  width: 1100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#whatip-whole-container #heading-container {
  width: 400px;
  margin-top: 5rem;
  position: relative;
}

#whatip-whole-container .mid-content-container {
  width: 1000px;
  height: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: #605e5e;
  font-family: 'Nunito', sans-serif;
}

#whatip-whole-container .flex-container {
  display: inline-flex;
  justify-content: space-evenly;
}

#whatip-whole-container #ip-container {
  margin-top: 5rem;
  height: 200px;
  min-width: 400px;
  width: auto;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2rem;
  position: absolute;
  right: 30px;
}

#whatip-whole-container .mini-span {
  font-size: 1rem;
  user-select: none;
}

#whatip-whole-container .title-span {
  font-size: 1.75rem;
}

#whatip-whole-container .map {
  height: 400px;
  width: 100%;
  position: absolute;
}

#whatip-whole-container .all-info-container {
  display: inline-block;
}

#whatip-whole-container .combine-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  height: 80px;
  width: 300px;
  margin: 1rem;
  border-radius: 5px;
  float: left;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  overflow: hidden;
}

#whatip-whole-container #search-ip-container {
  height: 60px;
}

#whatip-whole-container #search-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 500px;
}

#whatip-whole-container #search-ip {
  padding: .5rem 1rem;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  width: 400px;
}

#whatip-whole-container #search-ip-container button {
  padding: .5rem 1rem;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  width: 100px;
  cursor: pointer;
}